# Ignorer les dépendances Node.js
node_modules/

# Ignorer les fichiers d'environnement
.env
.env.local
.env.*.local

# Ignorer les logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorer les fichiers de build
/dist
/build

# Ignorer les fichiers temporaires
*.swp
*.swo
